---
layout: default
---

<div class="home">
  <p>
    Welcome to my GitHub web site. Here you will find
    articles about the various GitHub housed projects that I've worked on.
  </p>
  <ul>
    <li>Notes about the GitHub 
		<a class="post-link" href="https://github.com/dhocker?tab=repositories"> project repos </a>
		project repos under my account
	</li>
    <li>Posts about research topics and projects</li>
  </ul>

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% if site.posts.size > 0 %}
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
     {% else %}
        <p>There are no posts</p>
     {% endif %}
  </ul>

</div>
